<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsq.abbottnutrition"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>ABBOTTNutrition</name>

    <description>
        Nutrition calculated!
    </description>

    <author href="http://www.cherryvietnam.com" email="thisisacherryvn@gmail.com">
        bsq
    </author>
	
	<preference name="phonegap-version" value="3.5.0" />
	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />  
	<preference name="stay-in-webview" value="true" />
	<preference name="target-device" value="universal" />
	<preference name="deployment-target" value="7.0" />
    
    <gap:platform name="ios" />
    <preference name="orientation" value="landscape" />
	
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
		<false/>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIStatusBarHidden">
		<true/>
	</gap:config-file>
	
	<access origin="*"/>
</widget>